@import "tailwindcss";
@import "katex/dist/katex.min.css";

/* KaTeX custom formatting & overflow management */
.katex {
  font-size: 1.05em;
  text-rendering: auto;
}

.katex-display {
  margin: 0.75rem 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5rem 0.75rem;
}

.katex-mathml {
  display: none !important;
}
